/*
    //// RMS Form Input
*/

body {
  font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 1.2;
	background: #E8E8E8;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0px;
  background: #E8E8E8;
  z-index: 99;
}

header:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(232,232,232,0.65) 0%, rgba(232,232,232,0) 100%);
  background: -webkit-linear-gradient(top, rgba(232,232,232,0.65) 0%,rgba(232,232,232,0) 100%);
  background: linear-gradient(to bottom, rgba(232,232,232,0.65) 0%,rgba(232,232,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e8e8e8', endColorstr='#00e8e8e8',GradientType=0 );
  pointer-events: none;
  bottom: -20px;
}

.wrapper-content {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper-page {
  width: 100%;
  padding: 100px 0;
}

h2 {
  font-weight: 100;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select {
  background: #fff;
  width: 100%;
  padding: 10px;
  outline: 1px solid rgba(15,15,15,0.25);
  border: 1px solid rgba(15,15,15,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover,
input[type="date"]:hover,
textarea:hover,
input[type="text"]:active,
input[type="email"]:active,
input[type="tel"]:active,
input[type="number"]:active,
input[type="date"]:active,
textarea:active,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 1px solid rgba(15,15,15,0.25);
}

input[type="submit"],
button {
  padding: 10px 25px;
  background: #000;
  color: #fff;
  outline: 1px solid #fff;
  border: 1px solid rgba(15,15,15,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

select {
  margin: 0px 0px 0px 20px;
  padding: 13px;
  cursor: pointer;
  position: relative;
}

.select-container:after {
  position: absolute;
  content: '⌄';
  font-size: 1.5em;
  top: 7px;
  right: 0px;
  pointer-events: none;
}

.form-container {
  position: relative;
  background: #fff;
  margin: 50px 0;
}

.form-container-header {
  padding: 15px;
  font-size: 1.5em;
}

table {
  width: 100%;
  position: relative;
}

table thead th {
  background: #000;
  color: #fff;
  padding: 15px 20px;
  font-weight: 500;
  text-align: left;
  border-right: 1px solid #fff;
}

table thead th:last-child {
  border-right: 0;
}

table tbody td {
  padding: 7px 15px;
  border: 1px solid #000;
}

table tbody tr:nth-of-type(even),
table tbody tr:nth-of-type(even) td input[type="number"] {
  background: #f3f3f3;
}

table tbody td input[type="number"] {
    outline: 1px solid transparent;
    border: 1px solid transparent;
}
