{% load staticfiles %}
<!DOCTYPE HTML>

<html ng-app="rms">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">
    <base href="/" />
    <title>RMS Companies Data Submission</title>
    <link rel="stylesheet" href="{% static 'css/wt.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
</head>

<body ng-controller="InitCtrl as vm">

<div class="wrapper-site">
    <!-- HEADER WITH DATEPICKER AND PROPERTY DROP DOWN -->
    <header class="clearfix">
        <div class="wrapper-content">
            <div class="input-container left">
                <input type="date" id="select-date" name="date" ng-model="vm.selectedDate"
                       ng-change="vm.changeDate()"/>
            </div>
            <div class="input-container select-container relative left">
                <select ng-options="property as property.name for property in vm.properties"
                        ng-model="item" ng-change="vm.changeProperty(item)"></select>
                {% comment %}<select name="property" id="select-property">
                    <option value="">Properties</option>
                    <option ng-repeat="property in vm.properties" value="p_{[{ property.id }]}"
                            ng-click="vm.changeProperty(property)">{[{ property.name }]}</option>
                </select>{% endcomment %}
            </div>
            <div class="input-container right">
                <a class="save-button" ng-click="vm.saveData()">Save</a>
            </div>
        </div>
    </header>
    <div class="wrapper-content">
        <!-- FORMS -->
        <div class="wrapper-page clearfix">
            <main>
                <!-- FORM - FIRST CONTACT -->
                <div id="form-container_first-contact" class="w100 clearfix form-container">
                    <div class="w100 form-container-header">
                        <h2>
                            First Contact
                        </h2>
                    </div>
                    <form id="form-first-contact" action="" method="post">
                        <table>
                            <thead>
                            <th>Source</th>
                            <th>Calls</th>
                            <th>Walk-Ins</th>
                            <th>Emails</th>
                            <th>Other</th>
                            <th>Unqualified</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="contact in vm.firstContact">
                                <td>{[{ contact.source.name }]}</td>
                                <td><input type="number" ng-model="contact.calls"></td>
                                <td><input type="number" ng-model="contact.walk_ins"></td>
                                <td><input type="number" ng-model="contact.emails"></td>
                                <td><input type="number" ng-model="contact.other"></td>
                                <td><input type="number" ng-model="contact.unqualified"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- FORM - ACTIONS -->
                <div id="form-container_actions" class="w100 clearfix form-container">
                    <div class="w100 form-container-header">
                        <h2>
                            Actions
                        </h2>
                    </div>
                    <form id="form-actions" action="" method="post">
                        <table>
                            <thead>
                            <th>Source</th>
                            <th>Shown</th>
                            <th>Applied</th>
                            <th>Approved</th>
                            <th>Move-In Count</th>
                            <th>Denied</th>
                            <th>Cancels</th>
                            <th>Reapply</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.action">
                                <td>{[{ item.source.name }]}</td>
                                <td><input type="number" ng-model="item.shown"></td>
                                <td><input type="number" ng-model="item.applied"></td>
                                <td><input type="number" ng-model="item.approved"></td>
                                <td><input type="number" ng-model="item.movein_count"></td>
                                <td><input type="number" ng-model="item.denied"></td>
                                <td><input type="number" ng-model="item.cancels"></td>
                                <td><input type="number" ng-model="item.reapply"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- FORM - OCCUPANCY -->
                <div id="form-container_occupancy" class="w100 clearfix form-container">
                    <div class="w100 form-container-header">
                        <h2>
                            Occupancy
                        </h2>
                    </div>
                    <form id="form-occupancy" action="" method="post">
                        <table>
                            <thead>
                            <th>Source</th>
                            <th>Total Apartments</th>
                            <th>Vacant Apartments</th>
                            <th>Renewals</th>
                            <th>Pre-leased</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.occupancy">
                                <td>{[{ item.source.name }]}</td>
                                <td><input type="number" ng-model="item.total_apartments"></td>
                                <td><input type="number" ng-model="item.vacant_apartments"></td>
                                <td><input type="number" ng-model="item.renewals"></td>
                                <td><input type="number" ng-model="item.pre_leased"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>

<script src="{% static 'js/packages/angular/angular.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
